.header__logo {
  margin-bottom: 41px;
  width: 142px;
  height: 33px;
}


@media screen and (max-width: 930px) {
  .header__logo {
    margin: 0 28px 41px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 103px;
    height: 24.4px;
    margin: 27px 28px 29px;
  }
}
