.card__like {
  background-image: url(../../../images/like.svg);
  background-color: #FFFFFF;
  background-size: 22px 19px;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  transition: opacity 1s ease-in-out;
}

.card__like:hover {
  opacity: .5;
}